
{% extends 'base.html' %}
{% load static %}
{% block content %}
      <div class="container text-start">
     <h2>Тарифы</h2>
            <p>Выберите подходящий тариф для вашей поездки:</p>

                <h2>Тариф 1</h2>
                <p>1. Возраст водителя от 21 года.</p>
                <p>2. Водительский стаж не менее 2 лет.</p>
                <p>3. Обязательное наличие паспорта и водительского удостоверения.</p>
                <p>4. Залог при аренде автомобиля.</p>


            <h2>Тариф 2</h2>
                <p>1. Возраст водителя от 25 лет.</p>
                <p>2. Водительский стаж не менее 3 лет.</p>
                <p>3. Обязательное наличие паспорта и водительского удостоверения.</p>
                <p>4. Залог при аренде автомобиля.</p>

        <h2>Условия аренды авто</h2>
                <p>Мы предоставляем автомобили для аренды с учетом вашего стажа вождения, и вашей лицензии</p>
</div>
{% endblock content %}
